.header {
  background-color: $color-polo-blue;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $color-default-white;
  transition: color $trans-default;

  @include vp-767 {
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 7px 0;
    grid-template-columns: min-content 1fr;
    justify-items: end;
  }
}

.header__logo-link {
  color: inherit;
  z-index: 3;

  @include vp-767 {
    grid-area: 1/2/2/3;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.is-open .header__logo-link {
  color: $color-elephant;

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.header__logo-image {
  @include vp-1199 {
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.header__tel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 170px;
  gap: 5px 0;

  @include vp-767 {
    grid-area: 2/2/3/3;
  }
}


.header__tel-link {
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  z-index: 3;

  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    grid-area: 2/2/3/3;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.is-open .header__tel-link {
  color: $color-elephant;

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.header__toggle {
  display: none;
  background-color: initial;
  border: none;
  color: $color-default-white;
  z-index: 3;
  cursor: pointer;

  @include vp-1199 {
    display: block;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.header__toggle-closed {
  display: none;
  color: $color-elephant;
}

.is-open .header__toggle-closed {
  position: relative;
  display: block;
  margin: 0 2px;

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.is-open .header__toggle-opened {
  display: none;
}
