.header {
  z-index: 2;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  color: $color-default-white;
  transition: color $trans-default;

  @include vp-1199 {
    padding-top: 29px;
  }

  @include vp-767 {
    display: grid;
    padding-top: 15px;
    gap: 0;
    grid-template-columns: min-content 1fr;
    justify-items: end;
  }
}

.header__logo-link {
  color: inherit;
  z-index: 3;

  @include vp-767 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.is-open .header__logo-link {
  @include vp-1199 {
    color: $color-elephant;

    @include hover-focus {
      color: $color-resolution-blue;
      outline: none;
    }

    @include active {
      color: $color-navy-blue;
    }
  }
}

.header__logo-image {
  @include vp-1199 {
    margin-left: 93px;
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.header__tel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 170px;
  gap: 5px 0;

  @include vp-767 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
  }
}


.header__tel-link {
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  z-index: 3;

  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.is-open .header__tel-link {
  @include vp-1199 {
    color: $color-elephant;
    justify-self: end;

    @include hover-focus {
      color: $color-resolution-blue;
      outline: none;
    }

    @include active {
      color: $color-navy-blue;
    }
  }
}

.header__toggle {
  display: none;
  background-color: initial;
  border: none;
  color: $color-default-white;
  z-index: 3;
  cursor: pointer;

  @include vp-1199 {
    display: block;
    margin-left: -6px;
  }

  @include vp-767 {
    margin-top: -8px;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.header__toggle-closed {
  display: none;
  color: $color-elephant;
}

.is-open .header__toggle-closed {
  position: relative;
  display: block;
  margin: 0 2px;

  @include hover-focus {
    color: $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-navy-blue;
  }
}

.is-open .header__toggle-opened {
  display: none;
}

// .is-open .header__wrapper {
//   @include vp-1199 {
//     position: fixed;
//   }
// }
