.nav {
  @include vp-1199 {
    background-color: $color-default-white;
    color: $color-elephant;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 150px 45px 70px;
    position: fixed;
    pointer-events: none;
    top: 0;
    transition: top $trans-default;
    right: 0;
    visibility: hidden;
  }

  @include vp-767 {
    padding: 150px 15px 70px;
  }
}

.is-open .nav {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 710px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 5px 31px;
  flex-wrap: wrap;
  max-width: 720px;
  justify-content: center;

  @include vp-1199 {
    flex-direction: column;
    gap: 16px 0;
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  color: inherit;
  font-size: 16px;
  padding: 2px;

  &::before {
    content: "";
    position: absolute;
    transition: background-color $trans-default;
  }

  @include focus {
    outline: 1px solid $color-default-white;
  }

  @include hover {
    &::before {
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  @include active {
    &::before {
      background-color: $color-transparent;
    }
  }

  @include vp-1199 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.is-open .nav__link {
  @include vp-1199 {
    &::before {
      content: "";
      position: absolute;
      transition: background-color $trans-default;
      bottom: -2px;
    }

    @include focus {
      outline: 1px solid $color-elephant;
    }

    @include hover {
      &::before {
        background-color: $color-elephant;
      }
    }

    @include active {
      &::before {
        background-color: $color-transparent;
      }
    }
  }
}
