.video {
  position: relative;

  img {
    height: 317px;
    object-fit: cover;
  }

  iframe {
    width: 482px;
    height: 317px;
  }

  @include vp-1199 {
    img {
      width: 100%;
      height: auto;
    }

    iframe {
      width: 442px;
      height: 300px;
    }
  }
}

.video__button {
  position: absolute;
  width: 56px;
  height: 56px;
  margin: auto;
  color: $color-default-white;
  background-color: $color-transparent-02;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  transition: all $trans-default;
  inset: 0;

  @include hover-focus {
    background-color: $color-transparent;
    border-color: $color-resolution-blue;

    .video__icon {
      stroke: $color-default-black;
    }
  }

  @include active {
    background-color: $color-resolution-blue;
    border-color: $color-resolution-blue;

    .video__icon {
      stroke: none;
    }
  }
}

.video__icon {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 6px;
  margin: auto;
}
